@model PurchaseRequisition.Models.ViewModels.BudgetCodeWithBudgetAmount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BudgetCodeWithBudgetAmount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DA_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DA_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetCodeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetCodeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
