
@{
    ViewBag.Title = "Index";
}

<h2>Auditor Page</h2>
<div id="text-container">
    @Html.ActionLink("All Users", "viewUsers")
    <br />
    @Html.ActionLink("All Campuses", "viewCampuses")
    <br />
    @Html.ActionLink("All Budgets", "viewBudgets")
    <br />
    @Html.ActionLink("All Departments", "viewDepartments")
    <br />
    @Html.ActionLink("All Vendors", "viewVendors")
    <br />
    @Html.ActionLink("All Orders", "viewOrders")
    <br />
</div>