@model IEnumerable<PurchaseRequisition.Models.ViewModels.PurchaseReqWithReqestViewModels>

@{
    ViewBag.Title = "viewOrders";
}

<h2>viewOrders</h2>

<div id="text-container">
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.SupervisorName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.BudgetCodeName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.DateMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessJustification)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.SupervisorName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.BudgetCodeName)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.DateMade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrdered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateContract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessJustification)
                </td>

            </tr>
        }

    </table>
 </div>