<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>

@model IEnumerable<PurchaseRequisition.Models.ViewModels.PurchaseReqWithReqestViewModels>

@{
    ViewBag.Title = "Index";
}
<br />
<div id="text-container">
    <h2>Current Orders</h2>

    <p>

        @Html.ActionLink("New Order", "Create")

    </p>
    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupervisorName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BudgetCodeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessJustification)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupervisorName)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BudgetCodeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateMade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrdered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateContract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessJustification)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>*@
                <td>
                    @Html.ActionLink("View Items", "Index", "Requests",  new { bus = item.BusinessJustification }, null)
                </td>
            </tr>
        }


    </table>
    </div>