<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Purchase Requisition</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body  style="background-color: #E3B11F;
            background-image:url(/Content/Images/background.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center top; ">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#111683">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Admin Page", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Ordering", "Index", "Purchase", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Requests", "Index", "Requests", new { area = "" }, new { @class = "navbar-brand" })


                    }


                    if (User.IsInRole("User"))
                    {
                        @Html.ActionLink("Ordering", "Index", "Purchase", new { area = "" }, new { @class = "navbar-brand" })

                    }

                    if (User.IsInRole("Supervisor"))
                    {
                        @Html.ActionLink("Ordering", "Index", "Purchase", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Approvals", "Create", "SupervisorApprovals", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Requests", "Index", "SupervisorApprovals", new { area = "" }, new { @class = "navbar-brand" })


                    }

                    if (User.IsInRole("CFO"))
                    {
                        @Html.ActionLink("Budgets", "Index", "Budgets", new { area = "" }, new { @class = "navbar-brand" })


                    }

                    if (User.IsInRole("Auditor"))
                    {

                    }

                    if (User.IsInRole("Purchasing"))
                    {

                    }
                }

            </div>


                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*Links for across head will go*@
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()      
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
