@model IEnumerable<PurchaseRequisition.Models.Order>

<table class="table">
    <tr>
        <th>
            Budget Code
        </th>
        <th>
            Category 
        </th>
        <th>
            Email
        </th>
        <th>
            Status
        </th>
        <th>
            Created
        </th>
        <th>
            Ordered
        </th>
        <th>
            State Contract
        </th>
        <th>
            Business Justification
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>*@
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetCode.BudgetCodeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateMade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateContract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessJustification)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>*@
            <td>
                @Html.ActionLink("Approve or Deny", "Edit", new { id = item.ID })
            </td>
        </tr>
     
    }
</table>
